
.env
*.env
.env.*

.venv/
venv/
__pycache__/
*.py[cod]
.env
*.env
.venv/
__pycache__/
.dart_tool/
build/

agentic-RAG/.venv/

.dart_tool/
.idea/
.vscode/
build/
*.eml
*.freezed.g.dart

# Mac OS System files
.DS_Store
